/* .app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.app-bg{
  position: fixed;
  left: 0;
  right: 0;
  display: block;
  min-height: 100vh;
  background-color: #4564b1;
  background-image: url('./assets/water.jpg');
  background-size: cover;
  z-index: 1;
  filter: brightness(30%);
}

.app-content{
  /* background-color: #4564b1; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}

.header{
  text-align: right;
  padding: calc(10px + 2vmin);
}

.title{
  font-size: calc(50px + 2vmin);
  font-weight: 900;
  color: rgb(175, 227, 249);
}

.subtitle{
  color:rgb(199, 229, 255);
  font-weight: 200;
}

.body{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  color:aliceblue;
  /* text-align: center; */
  min-width: 50vw;
  height: 50vh;
  align-items: center;
}

.link {
  color: #61dafb;
}

.form-body {
  display: grid;
  grid-template-columns: 20% 70%;
  gap: 30px;
  align-items: center;
}

button {
  background-color: #cfdcffbf;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  min-width: 100px;
  font-weight: 600;
  color:#4564b1;
  padding: 20px;
}

button:hover {
  background-color: #e1e9ff;
}

button:active {
  background-color: #94ace9ac;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  text-align: left;
}

select {
  border-radius: 5px;
  height: 3vh;
  background-color: #9db2e7ae;
  border-width: 0px;
}

select:hover {
  background-color: #cfdcffbf;
}

select:focus {
  outline: 0;
}

input {
  background-color:#9db2e7ae;
  border: 0;
  border-radius: 5px;
  /* height: 2.65vh; */
  height: 2vh;
  padding: 5px;
}

input:hover {
  background-color: #cfdcffbf;
}

input:focus {
  outline: 0;
  background-color: #cfdcff;
}